@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center container">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container">
    <p class="p-heading">
        Charging for services
    </p>
    <p>
        Here are my made up charges for tutoring new players:
    </p>
</div>