@{
    ViewData["Title"] = "Home";
}

<div class="text-center content">
    <h1 class="display-4">The Spell Storing Item</h1>
    <h5>An online repository of custom spellbooks for D&D 5e characters.</h5>
    <div class="container">
        <p class="p-heading">My Characters</p>
        <figure>
            <img id="char1" src="~/images/Vokun Kren.png" alt="lizardfolk Artificer" />
            <figcaption id="char1-name">Vokun Kren, Lizardfolk Artificer</figcaption>
        </figure>
        <figure>
            <img id="char2" src="~/images/Coins.png" alt="Kenku Rogue" />
            <figcaption id="char2-name">*Dice Roll* Talon, Kenku Rogue</figcaption>
        </figure>
        <figure>
            <img id="char3" src="~/images/Warren.png" alt="Harengon Bard" />
            <figcaption id="char3-name">Warren Thistlefoot, Harengon Bard</figcaption>
        </figure>
    </div>
</div>

<div class="container">
    <p class="p-heading">My Hobby</p>
    <p>
        I am a huge fan of Dungeons & Dragons, but unfortunately its parent 
        company has started monetizing its content. In addition to monetization, 
        Hasbro has come out with new rules and changes to the game without realeasing 
        a new version. Most people play the pre-2024 version of 5th edition, myself 
        included. So, having found an API for the pre-2024 version, I wanted to 
        make an easy way to play my spellcasting characters. This online spellbook 
        repository (in a pre-functioning state) will accomplish this goal.
    </p>
    <p>
        I am building this site with expansion in mind, with the wild, long-term 
        dream of expanding my YouTube channel to the point of including this as part 
        of a patreon. To kickstart this project, I am going to use this as the base of
        my future assignments as much as I can, creating various views and controllers
        to satisfy assignment rubrics and prepare this for a launch on my local network
        for personal use.
    </p>
</div>