@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center content">
    <h1 class="display-4">The Spell Storing Item</h1>
    <p>Online repository of custom spellbooks for your D&D 5e characters.</p>
    <div class="container">
        <figure>
            <img src="~/images/Vokun Kren.png" alt="lizardfolk Artificer" />
            <figcaption>Vokun Kren, Lizardfolk Artificer</figcaption>
        </figure>
        <figure>
            <img src="~/images/Coins.png" alt="Kenku Rogue" />
            <figcaption>*Dice Roll* Talon, Kenku Rogue</figcaption>
        </figure>
        <figure>
        <img src="~/images/Warren.png" alt="Harengon Bard" />
        <figcaption>Warren Thistlefoot, Harengon Bard</figcaption>
   </figure>
    </div>
</div>
